/* Color Scheme link: https://coolors.co/3b252c-ca3c25-ffba49-77966d */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* added box items */
.newTerm {
  position: static;
  padding: 20px;
  margin-top: 40px;
  margin-right: 30px;
  margin-bottom: 10px;
  display: inline-block;
  height: 150px;
  width: 300px;
  background-color: #3B252C;
  border-radius: 25px;
  box-shadow: 0px 0px 50px -20px black;
}

.eye {
  position: relative;
  right: 45px;
  top: 50px;
}
.transparentButton {
  background-color: transparent;

}
.editButton{
  background-color: transparent;
  position:relative;
  bottom: 60px;
  left: 100px;
}

.body::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8D8D92;
}

body {
  background-color: #3B252C;
  font-size: 30px;
  margin-top: 100px;
  margin-left: 200px;
}

.pageTitle {
  white-space :nowrap;


  width: 75%;
  resize: none;

  outline: none;
  font-size: 30px;
  background: transparent;
}

.bottom-right {
    position: fixed;
    bottom: 50px;
    right: 25px;
    box-shadow: 0px 4px 50px -20px black;
}

.textField {
  position: relative;
  font-size: 20px;
  border-radius: 25px;
  width: 300px;
  height: 100px;;
  text-align: center;
  outline: none;
  background: transparent;
  resize: none;
}

.definitionField {
  font-size: 20px;
  position: relative;
  bottom: 166px;
  resize: none;
  width: 300px;
  height: 100px;
  background-color: transparent;
}

.btnStyle {
  position: absolute;
  margin-top: 20px;
  margin-left: -98px;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  background-color: #8D8D92;
  color: inherit;

}


 /* Status buttons */
 .status-button{
  position:relative;
  left: 65px;
  bottom: 10px;
  margin-right: 10px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.status-button:hover{
  cursor: pointer;
}

.okBtn{
  background-color: #FFBA49;
  transform: rotate(270deg);
}

.removePositions {
  opacity: 0;
}

.showPositions {
  opacity: 1;
}
