@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.transparentBtn{
  background-color: transparent;
  position:relative;
  bottom: 60px;
  left: 100px;
}

.body::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
}
.textField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

body {
  background-color: #3B252C;
  font-size: 30px;
  margin-top: 100px;
  margin-left: 200px;
}

.pageTitle {
  white-space :nowrap;


  width: 75%;
  resize: none;

  outline: none;
  font-size: 30px;
  background: transparent;
}

.bottom-right {
    position: fixed;
    bottom: 50px;
    right: 25px;
}

#addButton:hover{
  color: pink;
}

/* added box items */
.newTerm {
  padding: 20px;
  margin-top: 40px;
  margin-right: 30px;
  margin-bottom: 10px;
  position: static;
  display: inline-block;
  height: 150px;
  width: 300px;
  background-color: #3B252C;
  border-radius: 25px;
  box-shadow: 20px 20px 50px black;
}


.textField {
  font-size: 20px;
  /* padding: 20px; */
  border-radius: 25px;
  width: 300px;
  height: 150px;;
  text-align: center;
  outline: none;
  background: transparent;
  resize: none;
}

.definitionField {
  outline: none;
  color: #EEEBD3;
  font-size: 50px;
  background: transparent;
  border: none;

}

.btnStyle {
  position: absolute;
  margin-top: 20px;
  margin-left: -98px;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  background-color: grey;
  color: inherit;

}


 /* Status buttons */
.goodBtn, .okBtn, .badBtn{
  position:relative;
  left: 69px;
  bottom: 50px;
  margin-right: 10px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
.badBtn{
  background-color: #CA3C25;
}
.goodBtn{
  background-color: #77966D;
}
.okBtn{
  background-color: #FFBA49;
}
